* {
  margin: 0;
  padding: 0;
  font-family: "SF Pro Display", sans-serif;
}

ul {
  list-style: none;
  margin-right: 20px;
}

a {
  text-decoration: none;
}
h2 {
  color: #1a3834;
}

/* HEADER BÖLÜMÜ */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 5px solid #666666;
  padding-top: 25px;
  padding-bottom: 25px;
}

.header img {
  width: 200px;
}

.menu-links {
  display: flex;
  margin: 20px 20px;
  margin-left: 200px;
}

.menu-links li {
  margin-right: 30px;
}

.menu-links li a {
  font-size: 15px;
  color: #173f3f;
  font-weight: 700;
}

.menu-links li a:hover {
  text-decoration: underline 2px;
}

/* MAIN BÖLÜMÜ */
/* İlk Bölüm */
.first-part {
  background: linear-gradient(to top right, #ffffff 0%, #000000 20%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

/* İlk Bölüm - Paragraf ve Butonlar */
/* Text Bölümü */
.container-text,
.container-image {
  margin: 0 70px;
}

.container-text .text {
  color: #ffffff;
  font-size: 39.5px;
  margin-bottom: 40px;
}

.container-text .text-part {
  font-size: 77px;
}

/* Butonlar Bölümü */
.buttons .btn {
  height: 40px;
  padding: 0 10px;
  font-weight: 700;
  transition: background-color 0.2s ease-in-out;
}

.btn.one {
  margin-right: 10px;
  border: 1px solid #ffffff;
}
.btn.one:hover,
.btn.two:hover {
  background-color: #173f3f;
  color: #ffffff;
  cursor: pointer;
}

.btn.two {
  background: none;
  color: #ffffff;
  border: 1px solid #ffffff;
}

/* İlk Bölüm - Görsel */
.container-image img {
  width: 300px;
  filter: grayscale(100%);
  border-radius: 50%;
}

/* İkinci Bölüm */
.second-part {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: top;
  height: 300px;
  background-color: #2d2d2d;
}

.statistic {
  text-align: center;
  color: #ffffff;
  margin-right: 70px;
}

.statistic .number {
  margin-bottom: 5px;
  font-size: 70px;
}

.statistic.five {
  margin-right: 0;
}

/* Üçüncü Bölüm */
.third-part {
  height: 350px;
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.container-image-two,
.container-text-two {
  margin: 0 20px;
}

/* Üçüncü Bölüm - Görsel */

.container-image-two {
  margin-bottom: 220px;
}

.container-image-two img {
  width: 300px;
}

/* Üçüncü Bölüm - Text */

.container-text-two h2 {
  margin-bottom: 20px;
  font-size: 40px;
}

.container-text-two p {
  line-height: 25px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
}

/* Üçüncü Bölüm - Buton */
.container-text-two button {
  background-color: #1a3834;
  color: #ffffff;
  height: 50px;
  padding: 0 10px;
  font-weight: 700;
  transition: background-color 0.2s ease-in-out;
  margin-right: 10px;
  border: 1px solid #ffffff;
  font-size: 13px;
}

.container-text-two button:hover {
  background-color: #276666;
  color: #ffffff;
  cursor: pointer;
}

/* Dördüncü Bölüm */
.fourth-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fourth-part h2 {
  margin-top: 100px;
  font-size: 40px;
}

.fourth-part img {
  margin-bottom: 20px;
}

.fourth-part button {
  background-color: #1a3834;
  color: #ffffff;
  height: 50px;
  padding: 0 10px;
  font-weight: 700;
  transition: background-color 0.2s ease-in-out;
  margin-right: 10px;
  border: 1px solid #ffffff;
  font-size: 15px;
  margin-bottom: 80px;
}

.fourth-part button:hover {
  background-color: #276666;
  color: #ffffff;
  cursor: pointer;
}

/* Beşinci Bölüm Bölüm */
.fifth-part {
  background-color: #e8e8e8;
  background: linear-gradient(to top, #ffffff 70%, #e8e8e8 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
}

.fifth-part h2,
.fifth-part p {
  text-align: center;
}

.fifth-part h2 {
  font-size: 40px;
  padding-top: 100px;
  margin-bottom: 50px;
}

.fifth-part p {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 100px;
}

/* Blog Yazıları Bölümü */
.blogs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #004062;
  padding: 100px 100px;
}

.blogs h3 {
  color: #bed73e;
  margin-bottom: 30px;
  margin-right: 1040px;
  font-weight: 500;
  font-size: 25px;
}

/* Blog Yazıları Bölümü - Blog Yazılarının Yer Aldığı Konteynır Bölümü */
.container-blogs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

/*  Blog Yazıları Bölümü - Blog Yazıları */
.blog {
  border: 2px solid #bed73e;
  padding: 20px;
  height: 350px;
  position: relative;
}

.blog img {
  width: 250px;
  margin-bottom: 10px;
}

.blog h4 {
  color: #bed73e;
  font-size: 19px;
  font-weight: 500;
  margin-bottom: 5px;
}

.blog p,
.container-blogs a {
  letter-spacing: 1px;
}

.blog p {
  color: #c4d3da;
  font-size: 12px;
  font-weight: 100;
}

.container-blogs a {
  color: #bed73e;
  font-size: 11px;
  position: absolute;
  bottom: 10px;
}

.container-blogs a:hover {
  color: #ffffff;
}

/* ASIDE BÖLÜMÜ */
/* News Bölümü */
.news {
  margin: 100px 0;
  position: relative;
}
.container-news {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0 130px;
}

.container-news img {
  width: 800px;
  position: absolute;
  left: 40px;
  top: 70px;
}
.container-form {
  margin-right: -40px;
}

.container-news h3,
.container-form .text {
  color: #1a3834;
  font-weight: 500;
}

.container-news h3 {
  font-size: 40px;
}

.container-form .text.one {
  font-size: 23px;
  line-height: 24px;
  margin-bottom: 40px;
}

.container-form .text.two {
  font-size: 15px;
}

.container-form form input,
.container-form form button {
  height: 50px;
  font-size: 17px;
  font-weight: 500;
  border: none;
  letter-spacing: 1px;
}

.container-form form input {
  background-color: #eaeaea;
  padding-left: 30px;
  width: 300px;
  margin-right: 10px;
}

.container-form form input:hover {
  cursor: pointer;
}

.container-form form button {
  width: 130px;
  background-color: #1a3834;
  color: #ffffff;
  margin-bottom: 30px;
}

.container-form form button:hover {
  background-color: #276666;
  cursor: pointer;
}

/* FOOTER BÖLÜMÜ */
.footer {
  background-color: #1a3834;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 158px;
  height: 600px;
  flex-direction: column;
}

.footer a {
  color: #ffffff;
  font-size: 22px;
  font-weight: 500;
}

.footer a:hover {
  color: #276666;
}

.footer li {
  margin-bottom: 15px;
}

.footer hr {
  width: 77%;
  border: 1px solid #3a907d;
  margin-top: 30px;
  margin-bottom: 50px;
}
/* FOOTER - Şirket Bilgileri ve Linkleri */
.company-informations {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 110px;
  margin-top: -10px;
}

.container-information img {
  width: 300px;
  border-radius: 4%;
  margin-bottom: 20px;
}

.container-information p,
.container-links h4 {
  color: #3a907d;
}

.container-information p {
  line-height: 27px;
  font-size: 18px;
}

.container-links h4 {
  margin-bottom: 20px;
}

/* Copyright Kısmı */
.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 430px;
}

.copyright p,
.copyright a {
  color: #cad0cf;
  font-size: 20px;
  font-weight: 100;
}

.copyright-links {
  display: flex;
  gap: 20px;
}
